body{
  background-color: #DDD;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container{
  width: 85%;
  margin: auto;
}

#main-header{
  background-color: #D4707A;
  color: #fff;
  padding: 5px;
}

#navbar{
  background-color: #D4707A;
  color: #fff;
  margin-bottom: 20px;
  padding: 1px;
}

#navbar ul{
  padding: 0;
  list-style: none;
}

#navbar li:first-child{
  font-size: 30px;
}

#navbar li{
  display: inline;
}

#navbar a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

#donde-estoy{
  background-color: #EFEFEF;
  font-size: 14px;
  padding: 0px 20px;
  margin-bottom: 40px;
}

#donde-estoy a{
  color: #000;
  font-style: bold;
  text-decoration: none;
}

#juego-damas{
 margin-bottom: 20px;
}

#tablero-marco{
    background-color: #999;
    margin-bottom: 20px;
}

#tablero-damas{
  border-collapse: collapse;
  border: 0;
}

#casilla-blanca{
  width: 60px;
  height: 60px;
  background-color: #F7F7F7;
}

#casilla-negra{
  width: 60px;
  height: 60px;
  background-color: #292929;
}

#boton-nueva-partida {
  height: 35px;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color:#4DA4E1;
  border: 0;
  border-radius: 5px;
}

#juego-instrucciones{
  background-color: #EFEFEF;
  font-size: 14px;
  line-height: 1.4em;
  padding: 10px;
  margin-bottom: 40px;
}

#juego-instrucciones a{
  color: #000;
  font-style: bold;
  text-decoration: none;
}

#main-footer{
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
